imports:
    - { resource: parameters.yaml }
    - { resource: services/ }

services:
    _defaults:
        public: false
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Kernel.php'

    App\Application\DeeplTranslator:
        arguments:
            $apiKey: '%deeplApiKey%'
            $targetLanguage: '%deeplTargetLanguage%'
            $domainUrl: '%deeplDomainUrl%'

    App\Controller\DefaultController:
        arguments:
            $rssSourceUrl: '%rssSourceUrl%'


    App\Application\LivesquawkClient:
        arguments:
            $livesquawkUrl: '%livesquawkUrl%'
            $livesquawkAuthKey: '%livesquawkAuthKey%'

